<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengoofy.congomall.biz.cart.infrastructure.dao.mapper.CartItemMapper">
    
    <select id="countUserCartItem" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM cart_item
        WHERE customer_user_id = #{customerUserId}
          AND select_flag = 1
          AND del_flag = 0
    </select>
</mapper>